:root{
    --navy:  #1C3879;
    --blue: #607EAA;
    --beige: #EAE3D2;
    --winter: #F9F5EB;
}

*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--beige);
  padding: 30px;
}

.header{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: var(--navy);
  font-size: calc(30px + 3vw);
  color: var(--beige);
  font-weight: bold;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.25);
  -webkit-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.25);
  -moz-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.25);
}

.content{
  display: flex;
  flex: 10;
  gap: 20px;
}

.taskContainer{
  flex: 20;
}

.footer{
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  padding-top: 20px;
  width: 100%;
  flex: 1;
  border-radius: 10px;
  box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.25);
  -webkit-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.25);
  -moz-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.25);

}

.sidebarButton{
  background-color: var(--blue);
  font-weight: bold;
  padding: 10px calc(25px + 5vw) 10px 40px;
  border: none;
  color: var(--beige);
  font-size: calc(8px + 1vw);
  text-align: start;
}

.sidebarButton:hover{
  filter: brightness(85%);
}

/*Project Collapsable*/
.projectsContainer {
  flex-direction: column;
  background-color:#92a0b4;
  display: none;
  overflow: hidden;
  
}

.projectsContainer > * {
  background-color:#92a0b4;
  font-weight: bold;
  padding: 10px 0px 10px 50px;
  border: none;
  color: var(--beige);
  font-size: calc(4px + 0.75vw);
  text-align: start;
  
}

.taskSectionContainer{
  display: flex;
  flex-direction: column;
  flex: 8;
}

.taskSection{
    display: flex;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: var(--beige);
    border-radius: 10px;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 800px;
    max-width: 80%; 
    
}

.taskHeader{
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

.modalHeaderTitle{
  font-size: 2rem;
}

/* The Close Button */
.close {
  background: none;
  float: right;
  font-size: 20px;
  border: none;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Choosing Option Modal*/
.optionContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
}

.modalTaskButton{
  background-color: var(--winter);
  font-size: calc(20px + 1vw);
  font-weight: bold;
  border-radius: 10px;
}

.modalTaskButton:hover{
  filter: brightness(85%);
}

/* Project Modal */
.projectHeader{
  padding-bottom: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.projectContainer{
  background-color: var(--winter);
  padding: 10px;
  border-radius: 10px;
}

#titleProjectInput{
  display: flex;
  border: none;
  background-color: var(--winter);
  width: 100%;
  font-size: 2rem;
  border-bottom: solid 3px black;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  
}

.projectContentContainer{
  display: flex;
  width: 100%;
}

#descriptionProject{
  display: flex;
  border: none;
  background-color: var(--winter);
  width: 90%;
  font-size: 1rem;
  padding: 10px;
  overflow-wrap: break-word;
  font-weight: bold;
  resize: none;
  height: 200px;
  max-height: 50%;
}

.rightContainer{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 200px;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
}

.colorContainer, .dateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:10px;
  gap: 10px;
}

#colorPickerInput{
  border: none;
  background-color: var(--winter);
}

.colorBox {
  display: grid;
  grid-template-columns: 20px 20px 20px 20px;
  grid-template-rows: 20px 20px;
  gap: 1px;

}

.colorPickerOption{
  width: 20px;
  height: 20px;
  border: solid 1px black;
}

#datePickerInput{
  border: none;
  background-color: var(--winter); 
}

.projectAddButtonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.addProject{
  border: none;
  background-color: var(--winter);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.addProject:hover{
  text-decoration: underline;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.mainContentContainer{
  height: 100%;
  display:flex;
  flex-direction: column;
}

/* Main project hub info */
.contentHeader{
  border-radius: 10px;
  padding: 30px;
  font-size: calc(20px + 1vw);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  color: var(--winter);
  margin-bottom: 10px;
  box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.25);
  -webkit-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.25);
  -moz-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.25);

}

.contentBody{
  display: flex;
  flex: auto;
  gap: 50px;
  width: 100%;
}

/*Task modal section*/
.contentLeft{
  display: flex;
  background-color: var(--winter);
  flex-direction:row;
  flex:10;
  border-radius: 10px;
  box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.25);
  -webkit-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.25);
  -moz-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.25);
}

.bodyTaskContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--winter);
  border-radius: 10px;
}

.taskTableHeader{
  display: grid;
  grid-template-columns: 1.25fr 3fr 1.25fr 1.25fr;
  width: 100%;
  justify-items: center;
  align-items: center;
  height: fit-content;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 2px gray;
}

.taskTableBody{
  display: grid;
  grid-template-columns: 1.25fr 3fr 1.25fr 1.25fr;
  width: 100%;
  justify-items: center;
  align-items: center;
  height: fit-content;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 2px gray;
  overflow-y: auto;
  max-height: 500px;
}

.taskTableBody::-webkit-scrollbar{
  display: none;
}


.taskTableHeaderElement{
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding: 10px;
  font-size: calc(10px + 1vw);
  color: var(--winter);
  font-weight: bold;
  
}
.taskTableBodyElement{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: var(--winter);
  border: solid 1px rgb(146, 144, 144);
  align-content: center;
  padding: 10px;
  font-size: calc(5px + 1vw);
  color: black;
}

#addTaskButton{
  background-color: var(--winter);
  color: grey;
  font-weight: bold;
  font-size: calc(8px + 1vw);
  border: none;
  padding: 20px;
}

/*Project Selection Screen*/

.projectChoosingContainer{
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap:10px

}

.projectChoosingText{
  font-size: calc(15px + 1vw);
  font-weight: bold;
  text-align: center;
}

.selectInput{
  background-color: var(--winter);
  padding: 10px;
  border-radius: 10px;
  font-size:  calc(10px + 1vw);
  width: 300px;

}

/*Task selection screen*/
.invisible{
  display: none;
}

/*Task Modal Design*/
.taskModalContainer{
  margin-top: 10px;
  background-color: var(--winter);
  border-radius: 10px;
}
.taskContentContainer{
  display: flex;
  gap: 10px;
}

.topTaskModalContainer{
  display: flex;
  border: none;
  width: 100%;
  border-bottom: solid 3px black;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
}

#titleTaskInput{
  display: flex;
  border: none;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  background-color: inherit;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--winter);
  flex: 3;
}

#titleTaskInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--winter);
  opacity: 1; /* Firefox */
}

.taskProjecTitle{
  border: none;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: inherit;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--winter);
  flex: 1;
  text-align: center;
  overflow-wrap: break-word;
  width: 20%;
  max-width: 200px;
}

#noteTask{
  display: flex;
  border: none;
  background-color: var(--winter);
  width: 90%;
  font-size: 1rem;
  padding: 10px;
  overflow-wrap: break-word;
  font-weight: bold;
  resize: none;
  height: 200px;
  max-height: 50%;
}

/* MiddleContainer */
.middleContainer{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.middleContainer > *{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.titleTextContent{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

/* Slider */
.priorityInputBox{
  display: flex;
  gap: 10px;
}
.priorityControl{
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.priorityOptionBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/*Checkbox Container*/
.checkboxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#statusTitle{
  font-size: 1.10rem;
}

#checkboxTaskInput {
  width: 30px;
  height: 30px;
  background-color: var(--winter);
  accent-color: var(--beige);
}

.bottomTaskContainer{
  display: flex;
  align-content: center;
  justify-content: center;
}


/*Right Side*/
.contentRight{
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.contentDescriptionBox, .contentDateCounter{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--winter);
  border-radius: 10px;
  box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.25);
  -webkit-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.25);
  -moz-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.25);
  font-size: calc(10px + 1vw);
  font-weight: bold;
  color: black;

}

.descriptionBoxTitle{
  width: auto;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 2px gray;
  color: var(--winter);
}

.descriptionBoxContent::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.descriptionBoxContent {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.descriptionBoxContent{
  padding: 10px;
  color: black;
  font-size: calc(5px + 1vw);
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}

/*Counter Box Top*/
.counterBoxTop{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: black;
  font-size: calc(5px + 1vw);
  max-height: 400px;

}

.counterBoxBottom{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  color: black;
  font-size: calc(10px + 1vw);

}