:root{
    --navy:  #1C3879;
    --blue: #607EAA;
    --beige: #EAE3D2;
    --winter: #F9F5EB;
}

*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--winter);
}

.header{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--navy);
    font-size: calc(30px + 3vw);
    color: var(--beige);
    font-weight: bold;
    padding: 20px;
}

.content{
    display: flex;
    flex: 10;
}

.sidebarContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
}

.sidebarButton{
    background-color: var(--blue);
    font-weight: bold;
    padding: 10px;
    border: none;
    color: var(--beige);
    font-size: calc(15px + 1vw);
    margin: 0 30px;
}

.taskSectionContainer{
    display: flex;
    flex-direction: column;
}

.taskSection{
    display: flex;
}

/* Modal Section */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
  
.modalHeader {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
  
.modalHeader .title {
    font-size: 1.25rem;
    font-weight: bold;
}
  
.modalHeader .closeButton {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
  
.modalBody {
    padding: 10px 15px;
}
  
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
#overlay.active {
    opacity: 1;
    pointer-events: all;
}